.text-info{
  color:#39318f;
}

h1.text-center.text-info{
  font-size:45px;
  font-family:serif;
}

#ranga{
  padding:40px;
  background:url(../../assets/img/engineering-blueprint.jpg)no-repeat;
  background-size:cover;
}

div#ranga{
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:25px;
  line-height:1.42857143;
  color:#7203ff;
  background-color:#ffffff;
}

#content{
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:25px;
  line-height:1.42857143;
  color:#c9a139;
  background-color:#ffffff;
}

