.text-info{
  color:#39318f;
}

h1.text-center.text-info{
  font-size:100px;
  font-family:serif;
}

#ranga{
  padding:40px;
  background:url(../../assets/img/engineering-blueprint.jpg)no-repeat;
  background-size:cover;
}

body{
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:60px;
  line-height:1.42857143;
  color:#ff0303;
  background-color:#ffffff;
}

